<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<form action="/edit/<%= musicInfo.id %>" method="post">
  <p>
    <label for="">编号</label>
    <input type="text" name="id" value="<%= musicInfo.id %>">
  </p>
  <p>
    <label for="">名称</label>
    <input type="text" name="title" value="<%= musicInfo.title %>">
  </p>
  <p>
    <label for="">歌手</label>
    <input type="text" name="singer" value="<%= musicInfo.singer %>">
  </p>
  <p>
    <label for="">高音质</label>
    <% if(musicInfo.isHightRate){%>
    <input type="radio" name="isHightRate" checked value="1">是
    <input type="radio" name="isHightRate" value="0">否
    <% }else{ %>
    <input type="radio" name="isHightRate" value="1">是
    <input type="radio" name="isHightRate" checked value="0">否
    <%}%>
  </p>
  <p>
    <input type="submit" value="点击添加">
  </p>
</form>
</body>
</html>